.categorias {
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 10px 30px;
  background-color: white;
  font-family: sans-serif;
  margin-left: 50px;
}

.categoria {
  display: flex;
  align-items: center;
  gap: 6px;
  background-color: #F3F9FB;
  color: #333;
  font-size: 14px;
  padding: 8px 16px;
  border-radius: 999px;
  margin-left: 10px;
}

.categoria:hover {
  background-color: #eaf6fb;
}

.categoria.activa {
  background-color: #0094d8;
  color: white;
  margin-left: -5px;
}

.categoria .flecha {
  width: 18px;
  height: 18px;
  margin-top: 2px;
}
